{% extends 'base.html' %}

{% block container %}
  <div class="row">
    <div class="col-8 offset-2">
      <h1 class="text-center">Hola, {{session.user.name}}</h1>
    </div>
  </div>
  <section class="row">
    <div class="col-7">
      <h2 class="text-center">
        Citas del Dostor
      </h2>
    </div>
    <div class="col-5">
      <form class="p-3 bg-secondary border">
        <input type="text" name="texto" id="texto">
        <input type="submit" value="Buscar">
      </form>
    </div>
  </section>

{% endblock %}