{% extends 'base.html' %}

{% block container %}
  <section>
    <h2 class="text-center">Pronóstico del tiempo</h2>
    <button onclick="loadWeather()" class="btn btn-primary">Cargar</button>
    <div id="info-tiempo" class="text-center">
      <h3 class="text-success"></h3>
      <ul></ul>
    </div>
  </section>
{% endblock %}

{% block scripts %}
  <script>
    function loadWeather () {
      const id = 'e75683727c252e997612130dd70a1924'
      // 1. Obtenemos las coordenas geodésicas
      navigator.geolocation.getCurrentPosition(function (pos) {
        const lat = pos.coords.latitude
        const lon = pos.coords.longitude

        // 2. Creamos la URL por partes
        const url = 'https://api.openweathermap.org/data/2.5/forecast?lat='+lat+'&lon='+lon+'&exclude=hourly,daily&appid='+id

        // 3. Realizamos la llamada a la API
        fetch(url)
        .then (function (resp) {
          // Acá ya llegó la respueta, así que hay que desempaquetarla
          return resp.json()
        })
        .then(function (resp) {
          // Ahora sí, tenemos los datos de la API
          console.log(resp)
          dibujarHTML(resp)
        })
      })
    }

    function dibujarHTML (resp) {
      const ciudad = resp.city.name
      const h3 = document.querySelector('#info-tiempo h3')
      h3.innerHTML = 'El pronóstico para ' + ciudad

      // etiqueta UL
      const ul = document.querySelector('#info-tiempo ul')
      // Contenido interno de la UL
      let contenido_lista = ''
      for (let i=0; i<10; i++) {
        const pronostico = resp.list[i]

        const li = '<li>El tiempo a las ' + pronostico.dt_txt + ' es de ' + (pronostico.main.temp - 273) + '°C </li>'
        contenido_lista += li
      }
      ul.innerHTML = contenido_lista
    }
  </script>
{% endblock%}